/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

#about {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    color: #333;
}

#about img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills {
    background-color: #eaeaea;
    padding: 40px;
    text-align: center;
    color: #333;
}

#skills ul {
    list-style: none;
    margin-top: 20px;
}

#skills li {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#projects {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    color: #333;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 300px;
}

#resume {
    background-color: #eaeaea;
    padding: 40px;
    text-align: center;
    color: #333;
}

#contact {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    color: #333;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

